<div class="mt-4 text-xl" 
     (click)="startEdit(todo)"
     (mouseleave)="updateLastEdit(todo, newTitle); editIdOutput.emit(-1)"
     (mouseenter)="editIdOutput.emit(todo.id); newTitle = todo.title"         
     [ngClass]="{'ml-10': todo.level === 2 }"
     >
     <span (click)="todoService.completeTask(todo.id)"
           class="hover: cursor-pointer"
           [ngClass]="{'mx-1': !todo.completed}"           
     >{{ todo.completed? "&#x2611;" : "&#9744;"}}
     </span>
    <span *ngIf="editIdInput != todo.id"
          class="w-[500px]"
          (dragover)="dragOver(todo.id)"
    >
    {{ todo.title }}
    </span>
    <span *ngIf="editIdInput === todo.id">
        <input type="text"
               [(ngModel)]="newTitle"
               class="border-none outline-0 w-[500px]"               
               [ngClass]="{'w-[460px]': todo.level === 2 }"
               draggable="true"
               (dragstart)="dragStart(todo.id, $event);"
               (dragend)="dragEnd(todo.id, $event);"
        >
    </span>
    <span 
        *ngIf="editIdInput === todo.id"
        class="hover: cursor-pointer"
        (click)="todoService.removeTask(todo.id)"
    > 
        {{'&#128465;'}}
    </span>
</div>