<div class="max-w-xl container mx-auto mt-8 mb-32 text-white">
  <app-todo-list-title></app-todo-list-title>

  <img *ngIf="todoService.loading" class="mx-auto mt-[200px]" src="assets/spinner.gif">
  <div *ngIf="!todoService.loading">
    <app-todo-list *ngFor="let todo of todoService.getAll() | search:search; let i = index" 
                   [todo]="todo" 
                   (dragIdOutput)="dragId = $event"
                   [dragIdInput]="dragId"
                   (editIdOutput)="editId = $event"
                   [editIdInput]="editId"
    ></app-todo-list>
    <app-todo-add-in-list></app-todo-add-in-list>    
  </div>
  
  <app-todo-search (searchString)="search = $event"></app-todo-search>
  <app-undo-redo></app-undo-redo>  
  <app-todo-add-modal [visible]="false"></app-todo-add-modal>

</div>